<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <p><%= current_user.email if user_signed_in? %></p>
    <%= yield %>
    <%= link_to 'Deslogar', destroy_user_session_path, method: :delete if user_signed_in? %>
  </body>
</html>
